= render 'devise/shared/flash_messages'

.card-deck
  - @fruits.each do |fruit|
    .card
      %svg.bd-placeholder-img.card-img-top
        = fruit.image
      .card-body
        %h5.card-title
          = fruit.name
        %p.card-text
          = fruit.explain
        %a.btn.btn-primary{href: "#"} 品種一覧を見る