%h1 新しいフルーツを登録する
%form
  .form-group
    %label{for: "exampleFormControlFile1"} 画像を選択してください
    %input#exampleFormControlFile1.form-control-file{type: "file"}
  .form-group
    %label フルーツ名
    %input.form-control{type: "text", placeholder: "りんご", }/
  .form-group
    %label フルーツの概要
    %input.form-control{type: "text", placeholder: "りんごは酸味,甘みがあり、主な産地は青森県などです。"}/
  .form-group.form-check
    %input#exampleCheck1.form-check-input{:type => "checkbox"}/
    %label.form-check-label{:for => "exampleCheck1"} Check me out
  %button.btn.btn-primary{type: "submit"} 登録する
