%h1 旬のフルーツ新規登録

%form
  .form-group
    %label{:for => "exampleFormControlFile1"} Example file input
    %input#exampleFormControlFile1.form-control-file{:type => "file"}/

.input-group
  .custom-file
    %input#inputGroupFile04.custom-file-input{"aria-describedby" => "inputGroupFileAddon04", :type => "file"}/
    %label.custom-file-label{:for => "inputGroupFile04"} Choose file
  .input-group-append
    %button#inputGroupFileAddon04.btn.btn-outline-secondary{:type => "button"} Button
