%h1 テスト

.card-deck
  - @fruits.each do |fruit|
    .card
      %svg.bd-placeholder-img.card-img-top
        = fruit.image
      .card-body
        %h5.card-title
          = fruit.variety
        %p.card-text
          = fruit.explain